html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}


#navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    border-right: solid;
    top: 75px;
    left: 0px;
    background-color: #E7E9EB;
}
#navbar ul {
    padding-left: 0px;
}
#navbar ul li {
    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
}
#navbar ul li:hover {
    background-color: #8e8e8e;
}
#navbar ul header {
    margin-top: 15px;
    padding-left: 10px;
    font-size: 20px;
}
#navbar ul li a:visited {
   color:black;
}
#navbar ul li a {
    text-decoration:none;
    display: inline-block;
    width: 100%;
 } 

/*navbar header*/

#navbar-head {
    position: fixed;
    z-index:1;
}
#navbar-head ul {
    background: #303841;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    
}
#navbar-head li:hover {
    background-color: #45567d;
  }
#navbar-head li {
    list-style-type: none;
    padding: 15px;
    align-items: center;
}
#navbar-head a {
    list-style-type: none;
    margin-right: 0px;
    font-size: 1.4rem;
}
#navbar-head li:last-child a {
    margin-right: 29px;
}

#navbar-head #logo {
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: 15px;
}

.navbarhead {
    position: fixed;
    z-index:1;
    background-color: #143c6c;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbarhead .navbar-left .logo {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
  }
  
  .navbarhead .navbar-right a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    background-color: #034efd;
    border-radius: 3px;
    font-weight: 500;
    transition: background-color 150ms ease-in,
    box-shadow 150ms ease-in;
  }

  .navbarhead .navbar-right a:hover {
    background-color: #329ffe;
    font-weight: 600;
}
  .navbarhead .navbar-right p {
    display: inline-block;
    font-size: 1.4rem;
    color: white
  }
  
  .navbarhead .navbar-right a:last-child {
    margin-right: 0;
  }

a {
    text-decoration: none;
    color: black;
}



#main-doc {
    position: absolute;
    top: 100px;
    margin-left: 270px;
    padding: 20px;
    width: 65%;
}

hr {
    margin: 20px -16px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}
body {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 42px;
}

h1, h2,h3,h4,h5 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}

.nextprev a.w3-right, .nextprev a.w3-left {
    background-color: #034efd;
    color: #ffffff;
    border-color: 034efd;
}

.nextprev a {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.w3-right {
    float: right!important;
}
a:active, a:hover {
    outline-width: 0;
}
.w3-left {
    float: left!important;
}

.w3-codespan {
    font-size:105%;
    background-color:rgba(222,222,222,0.3);
}
.w3-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}


.w3-responsive{display:block;overflow-x:auto}
table.w3-table-all,table.ws-table-all{margin:20px 0}
/*NYTT br:*/
.ws-table-all {border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc}
.ws-table-all tr {border-bottom:1px solid #ddd}
.ws-table-all tr:nth-child(odd) {background-color:#fff}.ws-table-all tr:nth-child(even){background-color:#E7E9EB}
.ws-table-all td,.ws-table-all th {padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ws-table-all th:first-child, .ws-table-all td:first-child{padding-left:16px}

/*example*/
.w3-example{background-color:#E7E9EB;border-radius:5px;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.w3-code,w3-codeline{
    font-size:15px;
  }
.w3-code{border-left:4px solid #ff9800;}  
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-code{width:auto;background-color:#fff;color:#000;padding:8px 12px;border-left:4px solid #ff9800;word-wrap:break-word}
.sqlkeywordcolor{
    margin-right: 4px;
    margin-left: 3px;
    color:mediumblue
}
.sqlcolor{color:black}

.w3-btn, .w3-btn:link, .w3-btn:visited {color:#FFFFFF;background-color: #fdfa00}
.w3-example .w3-btn, .w3-example .ws-btn {
    background-color:#f9f900!important;
    border-radius:5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding:6px 18px;
  }
  .w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
  .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}


/*SQL*/
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}



.ws-grey {
    background-color:#E7E9EB!important;
    color: black!important;
  } 
  #textareaCodeSQL {
    font-size:15px;
    font-family:Consolas,"courier new";
    padding: 5px;
    height:140px;
    width:100%;
    border:1px solid #d3d3d3;
    resize: none;
}
.CodeMirror.cm-s-default {
  height:140px;
}
#tryitLeaderboard {
    margin-top:5px;
    margin-bottom:5px;    
    text-align:center;
    height:90px;
}

#resultSQL {
    font-size:14px;
    font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    background-color:#E7E9EB;
    height:auto;
    width:auto;
}
#iframeResultSQL {
    display:none;
    background-color: #ffffff;
    height:95%;
    min-height:400px;
    top:25px;
    width:100%;
    border:1px solid #d3d3d3;
    border:none;
}
#divResultSQL {
    background-color: #ffffff;
    border:1px solid #d3d3d3;
    border:none;
    overflow:auto;
}
#textareaCodeSQL {
    font-size:15px;
    font-family:Consolas,"courier new";
    height:140px;
    width:100%;
    border:1px solid #d3d3d3;
    resize: none;
}
.CodeMirror.cm-s-default {
  height:140px;
}
#footerSQL {
    height:20px;
    font-family:verdana;
}
#dbInfo {
    height:auto;
    xxcolor:#222222;
    font-family:verdana;
    font-size:12px;
    text-align:center;
    max-width:300px;
    margin:auto;
    position:relative;
}
#getwebsitebtn {
  background-color:#04AA6D;
  font-family: 'Source Sans Pro', sans-serif;  
  color: white;
  font-size: 18px;
  padding:6px 15px;
  margin-top:4px;
  margin-right: 10px;
  display: block;
  float: right;
  border-radius: 5px;
  top: -15px;
  position: relative;
}
#getwebsitebtn:hover {
  background-color: #059862 !important;
  color:white!important;
}
table.w3-table-all,table.ws-table-all{margin:20px 0}
/*NYTT br:*/

.ws-table-all {border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc}
.ws-table-all tr {border-bottom:1px solid #ddd}
.ws-table-all tr:nth-child(odd) {background-color:#fff}.ws-table-all tr:nth-child(even){background-color:#E7E9EB}
.ws-table-all td,.ws-table-all th {padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ws-table-all th:first-child, .ws-table-all td:first-child{padding-left:16px}

/*Sign-up form*/
#signup-body {
    margin-top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #fdfa00;
    display: inline-block;
}
.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 11rem;
    margin-bottom: 6rem;
    width: 22rem;
    
}
#signup-form {
    margin-top: -30px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    width: 350px;
}
label {
    font-weight: 450;
    color: #10162F;
    margin-bottom: 0.2rem;
}

#password,#email,#username,#phonenumber {
    width: 100%;
    padding: 0.6rem;
    margin-top: 1px;
    margin-bottom: 20px;
}

.form-text {
    font-weight: 650;
}
input[type=submit] {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background-color: #034efd;
    padding: 10px;
    border-radius: 3px;
    border: none;
    transition: background-color 150ms ease-in,
    box-shadow 150ms ease-in;
}
input[type=submit]:hover, input[type=button]:hover {
    background-color: #329ffe;
    font-weight: 800;
}
.login-link {
    text-decoration: none;
    color: #034efd;
    font-weight: 650;
}
.login-link:hover {
    text-decoration: underline;
}
input[type=button] {
    width: 75px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #034efd;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    transition: background-color 150ms ease-in,
    box-shadow 150ms ease-in;
}
select {
    width: 150px;
    padding: 0.3rem;
    margin-top: 1px;
    margin-bottom: 20px;
}

/*Exercise form*/
#w3-exerciseform {
    padding: 20px;
    margin: 32px -20px;
}
#w3-exerciseform {
    background-color: #282A35;
    padding: 16px;
    color: #ffffff;
    border-radius: 5px;
}
#w3-exerciseform .exercisewindow {
    background-color: #ffffff;
    padding: 16px;
    color: #000000;
}
#w3-exerciseform .exerciseprecontainer {
    background-color: #E7E9EB;
    padding: 16px;
    font-size: 120%;
    font-family: Consolas,Menlo,"Courier New", Courier, monospace;
    overflow: auto;
    margin-left: 0px;
}
#w3-exerciseform .exerciseprecontainer input {
    padding: 1px;
    border: 1px solid transparent;
    height: 1.7em;
    
}
#w3-exerciseform .w3-btn {
    background-color: #f9f900;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 18px;
}
.w3-btn, .w3-btn:link, .w3-btn:visited {
    color: black;
    background-color: #fff000;
}
.w3-margin-bottom {
    margin-bottom: 16px!important;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
#assignmentCorrect {
    padding: 50px;
    color: #04AA6D;
    background-color: #D9EEE1;
}
#assignmentNotCorrect {
    display: none;
    background-color: rgba(242, 222, 222, 0.99);
    background-color: #FFC0C7;
    padding: 50px;
    z-index: 1;
    color: #b94a48;
    cursor: pointer;
    border-radius: 5px;
}


/*Correct answer*/
/*
<form autocomplete="off" id="w3-exerciseform" action="exercise.asp?filename=exercise_select1" method="post" target="_blank">
    <div id="assignmentCorrect" onclick="nextexercise()" style="display: block;">
        <h2>Correct!</h2>
        <span style="cursor:pointer" id="correctnextbtn">❮ Back </span>
      </div>
      <div id="assignmentNotCorrect" onclick="closeNotCorrect(event)" style="display: block;">
    <h2>Not Correct</h2>
    <p>Click <u>here</u> to try again.</p>   
  </div>
</form>
*/