#navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    border-right: solid;
    top: 100px;
    left: 0px;
    background-color: #E7E9EB;
}
#navbar ul {
    padding-left: 0px;
}
#navbar ul li {
    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
}
#navbar ul li:hover {
    background-color: #04AA6D;
}
#navbar ul header {
    padding-left: 10px;
    font-size: 20px;
}
#navbar ul li a:visited {
   color:black;
}
#navbar ul li a {
    text-decoration:none;
 }



#main-doc {
    position: absolute;
    top: 100px;
    margin-left: 300px;
    padding: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}
body {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}
h1, h2,h3,h4,h5 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
.w3-codespan {
    font-size:105%;
    background-color:rgba(222,222,222,0.3);
}
.w3-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}


.w3-responsive{display:block;overflow-x:auto}
table.w3-table-all,table.ws-table-all{margin:20px 0}
/*NYTT br:*/
.ws-table-all {border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc}
.ws-table-all tr {border-bottom:1px solid #ddd}
.ws-table-all tr:nth-child(odd) {background-color:#fff}.ws-table-all tr:nth-child(even){background-color:#E7E9EB}
.ws-table-all td,.ws-table-all th {padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ws-table-all th:first-child, .ws-table-all td:first-child{padding-left:16px}

/*example*/
.w3-example{background-color:#E7E9EB;border-radius:5px;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.w3-code,w3-codeline{
    font-size:15px;
  }
.w3-code{border-left:4px solid #04AA6D;}  
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-code{width:auto;background-color:#fff;color:#000;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.sqlkeywordcolor{color:mediumblue}
.sqlcolor{color:black}

.w3-btn, .w3-btn:link, .w3-btn:visited {color:#FFFFFF;background-color:#4CAF50}
.w3-example .w3-btn, .w3-example .ws-btn {
    background-color:#04AA6D!important;
    border-radius:5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding:6px 18px;
  }
  .w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
  .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}


/*SQL*/
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}



.ws-grey {
    background-color:#E7E9EB!important;
    color: black!important;
  } 
  #textareaCodeSQL {
    font-size:15px;
    font-family:Consolas,"courier new";
    height:140px;
    width:100%;
    border:1px solid #d3d3d3;
    resize: none;
}
.CodeMirror.cm-s-default {
  height:140px;
}
#tryitLeaderboard {
    margin-top:5px;
    margin-bottom:5px;    
    text-align:center;
    height:90px;
}

#resultSQL {
    font-size:14px;
    font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    background-color:#E7E9EB;
    height:auto;
    width:auto;
}
#iframeResultSQL {
    display:none;
    background-color: #ffffff;
    height:95%;
    min-height:400px;
    top:25px;
    width:100%;
    border:1px solid #d3d3d3;
    border:none;
}
#divResultSQL {
    background-color: #ffffff;
    border:1px solid #d3d3d3;
    border:none;
    overflow:auto;
}
#textareaCodeSQL {
    font-size:15px;
    font-family:Consolas,"courier new";
    height:140px;
    width:100%;
    border:1px solid #d3d3d3;
    resize: none;
}
.CodeMirror.cm-s-default {
  height:140px;
}
#footerSQL {
    height:20px;
    font-family:verdana;
}
#dbInfo {
    height:auto;
    xxcolor:#222222;
    font-family:verdana;
    font-size:12px;
    text-align:center;
    max-width:300px;
    margin:auto;
    position:relative;
}
#getwebsitebtn {
  background-color:#04AA6D;
  font-family: 'Source Sans Pro', sans-serif;  
  color: white;
  font-size: 18px;
  padding:6px 15px;
  margin-top:4px;
  margin-right: 10px;
  display: block;
  float: right;
  border-radius: 5px;
  top: -15px;
  position: relative;
}
#getwebsitebtn:hover {
  background-color: #059862 !important;
  color:white!important;
}
table.w3-table-all,table.ws-table-all{margin:20px 0}
/*NYTT br:*/

.ws-table-all {border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc}
.ws-table-all tr {border-bottom:1px solid #ddd}
.ws-table-all tr:nth-child(odd) {background-color:#fff}.ws-table-all tr:nth-child(even){background-color:#E7E9EB}
.ws-table-all td,.ws-table-all th {padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ws-table-all th:first-child, .ws-table-all td:first-child{padding-left:16px}

/*Sign-up form*/
#signup-body {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    max-height: 90%;
    /*background-color: #ffc300; #e65f59*/
    background: linear-gradient(#ffc300, #e65f59);
    display: inline-block;
}
.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 22rem;
    
}
#signup-form {
    margin-top: -30px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    width: 350px;
}
label {
    font-weight: 450;
    color: #10162F;
    margin-bottom: 0.2rem;
}

#password,#email,#username,#phonenumber {
    width: 100%;
    padding: 0.6rem;
    margin-top: 1px;
    margin-bottom: 20px;
}

.form-text {
    font-weight: 650;
}
input[type=submit] {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background-color: #034efd;
    padding: 10px;
    border-radius: 3px;
    border: none;
    transition: background-color 150ms ease-in,
    box-shadow 150ms ease-in;
}
input[type=submit]:hover, input[type=button]:hover {
    background-color: #329ffe;
    font-weight: 800;
}
.login-link {
    text-decoration: none;
    color: #034efd;
    font-weight: 650;
}
.login-link:hover {
    text-decoration: underline;
}
input[type=button] {
    width: 75px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #034efd;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    transition: background-color 150ms ease-in,
    box-shadow 150ms ease-in;
}
select {
    width: 150px;
    padding: 0.3rem;
    margin-top: 1px;
    margin-bottom: 20px;
}
