{% extends "SQL/layout.html" %}
{% load static %}


{% block body %}
    <header>
        <!-- <nav id="navbar-head">
            <ul>
                {% if user.is_authenticated%}
                    <li class="welcome">Welcome, {{user.username}}</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>   -->
        <nav class="navbarhead">
            <div class="navbar-left">
              <a class="logo" href="{% url 'index' %}">SQL Learning test</a>
            </div>
            {% if user.is_authenticated%}
                <div class="navbar-right">
                    <p>Welcome, {{user.username}}</p>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="navbar-right">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Signup</a>
                </div>
            {% endif %}
        </nav>

        

    </header>
    <nav id="navbar">
        <ul>
            <header>
                SQL Tutorial
            </header>
            {% for tutorial in tutorials %}
                <li>
                <a href="{% url 'entry' title=tutorial.title %}"> {{ tutorial.title }} </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main id="main-doc">
        <section class="main-section">
            {% autoescape off %}
            {{content}}
            {% endautoescape %}
        </section>
    </main>
{% endblock %}
