{% extends "SQL/layout.html" %}
{% load static %}


{% block body %}
    <header>
        <nav id="navbar-head">
            <ul>
                {% if user.is_authenticated%}
                    <li class="welcome">Welcome, {{user.username}}</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <nav id="navbar">
        <ul>
            <header>
                SQL Tutorial
            </header>
            {% for tutorial in tutorials %}
                <li>
                <a href="{% url 'entry' title=tutorial.title %}"> {{ tutorial.title }} </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main id="main-doc">
        <section class="main-section">
            {% autoescape off %}
            {{content}}
            {% endautoescape %}
        </section>
    </main>
{% endblock %}