{% extends "SQL/layout.html" %}
{% load static %}


{% block body %}
    <header>
        <ul>
            
        </ul>
    </header>
    <nav id="navbar">
        <ul>
            <header>
                SQL Tutorial
            </header>
            {% for tutorial in tutorials %}
                <li>
                <a href="{% url 'entry' title=tutorial.title %}"> {{ tutorial.title }} </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main id="main-doc">
        <section class="main-section">
            {% autoescape off %}
            {{content}}
            {% endautoescape %}
        </section>
    </main>
{% endblock %}