<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="signup-body">
        <div class="box">
          <form id="signup-form">
              <h3 class="form-text">Log in to SQL learning</h3>
              <label for="email">Email</label>
              <input type="email" id="email" name="email">
              <label for="password">Password</label>
              <input type="password" id="password" name="password">
              <input type="button" value="Log in">
          </form>
          <p>Not a member yet? <a class="login-link" href="https://www.google.com/">Sign up</a></p>
        </div>
      </div>
</body>