{% extends "SQL/layout.html" %}
{% load static %}
{% block body %}
<body>
    {% if message %}
      <h1>{{message}}</h1>
    {% endif %}
    <div id="signup-body">
        <div class="box">
          <form id="signup-form" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <h3 class="form-text">Log in to SQL learning</h3>
              <label for="username">UserName</label>
              <input type="text" id="username" name="username">
              <label for="password">Password</label>
              <input type="password" id="password" name="password">
              <input class="submit-btn" type="submit" value="Log in">
          </form>
          <p>Not a member yet? <a class="login-link" href="{% url 'register' %}">Sign up</a></p>
        </div>
      </div>
</body>
{% endblock %}