{% extends "SQL/layout.html" %}
{% load static %}

{% block body %}
<div class="w3-container">
    <div class="w3-row">
      <div class="w3-col l10">
        <div class="ws-grey" style="padding:15px;padding-bottom:40px;margin-bottom:40px;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
        <form method="post" target="view" id="tryitform" name="tryitform" onsubmit="validateForm();">
          <h3>SQL Statement:</h3>
          <textarea id="textareaCodeSQL" wrap="logical">SELECT * FROM SQL_database;</textarea>
          <p>Edit the SQL Statement, and click "Run SQL" to see the result.</p>
          <input type="hidden" name="code" id="code" />
          <input type="hidden" id="bt" name="bt" />
        </form>
        <button class="ws-btn" type="button">Run SQL </button>
  
  
        <h3>Result:</h3>
        <div id="resultSQL">
          <iframe id="iframeResultSQL" frameborder="0" name="view"></iframe>
          <div class="w3-white" id="divResultSQL">
                <div id="table-container">
                
                </div>
            </div>
            <div style="margin:10px;margin-bottom:30px;">Click <b>"Run SQL"</b> to execute the SQL statement above.</div>
          </div>
        </div>	
        </div>      
          <h3 style="text-align:center;font-size:16px;">
    </h3>
      </div>
      <div class="w3-col l2 w3-padding">
        <div id="dbInfo">
          <div style="font-size:16px;">Your Database:
            <table>
                <tbody>
                    <tr>
                        <th style="text-align:left;">Tablename</th>
                        <th style="text-align:right;">Records</th>
                    </tr>
                    <tr>
                        <td title="Click to see the content of the Customers table" style="text-align:left;cursor:pointer;text-decoration:underline;">Customers</td>
                        <td style="text-align:right;">91</td>
                    </tr>
                    <tr>
                        <td title="Click to see the content of the Categories table" style="text-align:left;cursor:pointer;text-decoration:underline;">Categories</td>
                        <td style="text-align:right;">8</td>
                    </tr>
                    <tr>
                        <td title="Click to see the content of the Employees table" style="text-align:left;cursor:pointer;text-decoration:underline;">Employees</td>
                        <td style="text-align:right;">10</td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div>
            <div id="yourDB" style="margin-top:10px;margin-bottom:20px;"></div>
            <div id="yourRC" style="margin-top:10px;margin-bottom:20px;"></div>
            <div id="yourIX" style="margin-top:10px;margin-bottom:20px;"></div>
            <button title="Restore the database back to its original content" id="restoreDBBtn" class="w3-btn ws-black w3-round ws-hover-black" type="button" onclick="w3schoolsWebSQL1.w3ClearDatabase()" style="display:none;">Restore Database</button>
          </div>

<!-- <table class="ws-table-all notranslate">
    <thead>
      <tr>
        {% for column in columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          {% for value in record %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table> -->
</div>
{% endblock %}